@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Margarine&display=swap');

* {
    margin: 0; 
    padding: 0;
}

main {   
    width: 80%;
    margin: auto;
    background-color: white;
}

header {
    background-color: #FFF0C7;
    padding: 1vw 3vw;
    position: sticky;
    top: 0;
}

footer {
    padding-top: 1.5em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

nav li:first-of-type {
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1, h2, h3, a {
    font-family:"Margarine", sans-serif;
    line-height: 1.4em;
}

h1 {
    font-size: 25px;
    color: #883E01;
    text-shadow: 0.5px 0.5px 0.5px #bcad86;
    padding: 1em 0em 1em 0em;
}

h2 {
    font-size: 20px;
    color: #555A1B;
    text-shadow: 0.25px 0.25px 0.25px #bcad86;
}

section h2 {
    padding-bottom: 1em;
}

h3 {
    font-size: 18px;
    color: #555A1B;
    text-shadow: 0.25px 0.25px 0.25px #bcad86;
}

a {
    font-size: 16px;
    color: #843C01;
    text-shadow: 0.25px 0.25px 0.25px #bcad86;
    padding: 1em 0em 1em 0em;
}

nav img {
    width: 80%;
    height: auto;
    border-radius: 0;
}

nav ul {
    list-style-type: none;
    align-items: center;
}

p {
    font-family: "Average sans", sans-serif;
    line-height: 1.4em;
    color: #654321;
    padding: 1em 0em 1em 0em;
    font-size: 16px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em
}

.space {
    padding-top: 1em;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #FFF0C7;
    border-radius: 10px;
}

.tag img {
    width: 8vw;
    padding: 0em 1em 0em 1em;
}

footer img {
    display: block;
    max-width: 100%;
    height: auto;
    bottom: 0;
    border-radius: 0;
}

/* W3Schools.com */
/* On screens that are 600px or more, set the elements bigger*/
@media screen and (min-width: 600px) {

    main {   
        width: 60%;
        margin: auto;
        background-color: white;
    }

    nav img {
        width: 100%;
        transition: all 0.5s ease;
    }

    nav img:hover {
        transform: scale(1.05);
    }

    nav img:active {
        transform: translateY(0.6em);
    }

    ul {
        gap: 2em;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3, p, a {
        font-size: 1.5vw;
    }

    .flex-row {
        gap: 1.5em;
    } 

    .tag img {
        width: 4vw;
        padding: 0em 1em 0em 1em;
    }

    .space a {
        text-decoration: none;
        transition: all 0.6s ease;
    }

    .space a:hover {
        text-decoration: underline;
    }

    .space a:active {
        transform: translateY(0.6em);
    }

    .space a:focus {
        color: #FFF0C7;
        background-color: #8B6E4C;
    }

}